h1 {margin: 0.42em 0 0.834626em 0;}
a {color: #000;}
.container p {margin: 0;}
.bor {padding-bottom: -40px; border-bottom: dotted 0.42px;}
.blue{color: #5784BA;}
.bg-blue{background-color: #212E53;}
#listener{margin-bottom: 3.141592em;   }

.lead{padding-top:2em; text-align:center;}
